*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    height: 100vh;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-content{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.heading{
    text-align: center;
}

.my-profile{
    margin-right: 50px;
    height: 100%;
    flex-basis: 50%;
}

.profile{
    display: flex;
    align-items: center;

    background-color: #ececec;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
}

.avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 35px;
}

.avatar__pic{
    width: 100%;
    height: 100%;
}

.nickname{
    font-weight: bold;
    font-size: 120%;
    color: rgb(40, 50, 71);
    margin-bottom: 15px;
}

.user-name{
    white-space: nowrap;
    font-size: 110%;
    margin-bottom: 15px;
}

.phone{
    display: block;
    text-decoration: none;
}

.edit-profile{
    flex-basis: 50%;
}

.form{
    background-color: #ececec;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
}

.form__list{
    margin: 0;
    padding: 0;
}

.form__item{
    list-style: none;
    margin-bottom: 15px;
}

.form__item:last-child{
    margin-bottom: 0;
}

.form__label{
    display: block;
    flex-basis: 30%;
}

.form__input{
    flex-grow: 1;
}

.form__inline-label{
    display: inline-block;
    margin-right: 10px;
}

.form__inline-input{
    margin-right: 10px;
}

.form__button{
    margin: 0 auto;
    padding: 2px 5px;
}

.form__title{
    margin-right: 15px;
}

.field__content {
    display: flex;
}

.field__details {
    padding: 3px;
    max-width: 400px;
}

.error-message {
    font-size: 70%;
    color: #f00;
}

.user-data-profile {
    display: flex;
    justify-content: center
}

.nav {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.nav__item {
    padding: 0 10px;
    border-right: 1px solid #ccc;
    color: deeppink;
    text-decoration: none;
    transition: 0.3s all;
}

.nav__item:last-child {
    border-right: none
}

.nav__item:hover {
    color: deepskyblue;
    text-decoration: underline;
}

.article-form__field {
    padding: 15px 0;
}

.article-form__text-input {
    padding: 10px 20px;
    width: 50vw;
    max-width: 1000px;
    min-width: 300px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 90%;
}

.article-form__textarea {
    min-height: 200px;
}

.article-form__button {
    font-size: 100%;
    padding: 15px;
    background-color: deeppink;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
    outline: none;
}

.article-form__button:hover {
    background-color: deepskyblue;
}

.article-form__button:active {
    opacity: 0.4;
}

.article-form__button:disabled {
    opacity: 0.4;
    background-color: deepskyblue;
}

.centered {
    text-align: center;
}

.articles-list {
    min-width: 300px;
    width: 50vw;
    max-width: 1000px;
}

.articles-list__item {
    margin: 30px 0;
}

.article-item {
    border: 1px solid #ccc;
    padding: 0 15px;
    transition: 0.5s all;
}

.article-item:hover {
    border-color: deeppink;
}

.article-item__header {
    font-weight: bold;
    line-height: 1.6;
    text-decoration: none;
    transition: 0.3s all;
    color: #000;
}

.article-item__header:hover {
    color: deeppink;
}

.article-item__header:active {
    color: #ccc;
}

.article-item__header_wrap {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.article-item__controls {
    padding: 10px 0;
    font-size: 80%;
    display: flex;
    justify-content: space-between;
}

.button-controls {
    display: flex;
    padding: 0 5px;
}

.button-controls__item {
    margin: 0 3px;
}

.btn {
    padding: 10px 15px;
    background: #fff;
    text-decoration: none;
    border: 1px solid #ccc;
    display: table;
    color: #000;
    font-size: 14px;
    transition: 0.3s all;
    cursor: pointer;
    outline: none;
}

.btn_size_sm {
    font-size: 11px;
    padding: 5px 8px;
}

.btn:active, .btn:disabled {
    opacity: 0.55;
}

.btn_color_pink {
    background: deeppink;
    color: #fff;
}

.btn_color_pink:hover {
    background: hotpink;
}

.btn_color_blue {
    background: deepskyblue;
    color: #fff;
}

.btn_color_blue:hover {
    background: cornflowerblue;
}

